ipykernel
datasets
openai
PyPDF2
transformers
python-dotenv
PyYAML
coloredlogs
mdc
pytest
Wand
strictyaml

azure-ai-evaluation[remote]
azure-ai-inference

# Fine-tuning
azure-ai-ml
azure-identity
matplotlib
numpy

# To run notebooks from the command line
papermill
black[jupyter]

# Azure ML Infra
azureml-core
msrestazure
azure-mgmt-resource

# Infra tests
pytest
requests
click
rich
rich-click

survey
dotenv-azd

# llmscout to proxy multiple backend models
git+https://github.com/cedricvidal/llmscout.git@main
